*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(225, 100%, 94%);
}
.container{
    height: 850px;
    width: 1000px;
    background-color: white;
    position: relative;
    left: 55em;
    top: 9em;
    border-radius: 20px;
}
.img1{
    background: url(image-product-desktop.jpg);
    background-size: cover;
    width: 500px;
    height: 850px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.container1{
    position: relative;
    left: 34em;
    top: -50em;
    background-color: white;
    width: 13em;
}
.para1{
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    letter-spacing: 15px;
    font-size: 1em; 
}
.heading1{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    width: 7em;
    
}
.para2{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width: 15em;
    font-size: 1.7em;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 1.5em;
    letter-spacing: 1.4px;
}
.heading2{
    position: relative;
    top: 1.5em;
    font-size: 4em;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: green;
}
.divbox{
    position: relative;
    top: 9em;
    /* left: 2em; */
    width: 25em;
    height: 5em;
    background-color: green;
    border-radius: 20px;
}
.cart{
    position: relative;
    top: -0.5em;
    left: 3em;
    font-size: 2.5em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image2{
    background: url(icon-cart.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    left: 3.4em;
    top: 1.4em;
}
.dollar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    left: 12em;
    top: 1.3em;
    opacity: 0.4;

}